<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <div class="navbar">
    <a class="navbar-brand" href="#">POLICHAT</a>
  </div>
  <div class="row">
    <div class="col-sm-3 coluna-chat">
        <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span> Search
                    </button>
              </span>
            </div>
          </div>
          <hr size="30">
      <div class="row">
        <div class="col-sm-3">
          <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
        </div>
        <div class="col-sm-7">
            <h6>Giovanna Moreira</h6>
            <p class="msg">Olá, tudo bem??</p>
        </div>
        <div class="col-sm-2">
          .
          .
          .
          <p>Segunda</p>
        </div>
      </div>
          <hr size="30">

          <div class="row">
            <div class="col-sm-3">
              <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
            </div>
            <div class="col-sm-7">
                <h6>Giovanna Moreira</h6>
                <p class="msg">Olá, tudo bem??</p>
            </div>
            <div class="col-sm-2">
              .
              .
              .
              <p>Segunda</p>
            </div>
          </div>
              <hr size="30">
              <div class="row">
                <div class="col-sm-3">
                  <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                </div>
                <div class="col-sm-7">
                    <h6>Giovanna Moreira</h6>
                    <p class="msg">Olá, tudo bem??</p>
                </div>
                <div class="col-sm-2">
                  .
                  .
                  .
                  <p>Segunda</p>
                </div>
              </div>
                  <hr size="30">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                    </div>
                    <div class="col-sm-7">
                        <h6>Giovanna Moreira</h6>
                        <p class="msg">Olá, tudo bem??</p>
                    </div>
                    <div class="col-sm-2">
                      .
                      .
                      .
                      <p>Segunda</p>
                    </div>
                  </div>
                      <hr size="30">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                        </div>
                        <div class="col-sm-7">
                            <h6>Giovanna Moreira</h6>
                            <p class="msg">Olá, tudo bem??</p>
                        </div>
                        <div class="col-sm-2">
                          .
                          .
                          .
                          <p>Segunda</p>
                        </div>
                      </div>
                          <hr size="30">
                          <div class="row">
                            <div class="col-sm-3">
                              <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                            </div>
                            <div class="col-sm-7">
                                <h6>Giovanna Moreira</h6>
                                <p class="msg">Olá, tudo bem??</p>
                            </div>
                            <div class="col-sm-2">
                              .
                              .
                              .
                              <p>Segunda</p>
                            </div>
                          </div>
                              <hr size="30">
                              <div class="row">
                                <div class="col-sm-3">
                                  <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                                </div>
                                <div class="col-sm-7">
                                    <h6>Giovanna Moreira</h6>
                                    <p class="msg">Olá, tudo bem??</p>
                                </div>
                                <div class="col-sm-2">
                                  .
                                  .
                                  .
                                  <p>Segunda</p>
                                </div>
                              </div>
                                  <hr size="30">
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <img src="../assets/download.jpeg" class="img-circle" width="60" height="60">
                                    </div>
                                    <div class="col-sm-7">
                                        <h6>Giovanna Moreira</h6>
                                        <p class="msg">Olá, tudo bem??</p>
                                    </div>
                                    <div class="col-sm-2">
                                      .
                                      .
                                      .
                                      <p>Segunda</p>
                                    </div>
                                  </div>
                                      <hr size="30">

    </div>
    <div class="col-sm-9">
      CHAT
    </div>
  </div>
  </div>
